- content_for :head do
  = javascript_include_tag "vendor/prototype"
  = javascript_include_tag "admin/tags"

%h2 Tag candidates
- if @candidates.present?
  #tags
    - @candidates.each do |word|
      - remote_form_for [:admin, TagCandidate.new], :success => "e=$$('input[VALUE=\"#{word}\"]')[0].up('form').remove()" do |f|
        = submit_tag 'YES'
        = word
        = f.hidden_field :word, :value => word
        = f.hidden_field :status, :value => "yes"
  - form_tag disable_all_admin_tag_candidates_path   {},  :id => "disable_all" do
    = hidden_field_tag :words
    = submit_tag 'NO for all the rest'
- else
  All done.
