- content_for :head do
  = javascript_include_tag "vendor/prototype"

%h2 Make categories
- if @tags.present?
  #tags
    - @tags.each do |tag|
      %div.tag
        = tag.word
        .categories
          - @categories.each do |category|
            - remote_form_for  [:admin, tag], :success => "e = $('edit_tag_candidate_#{tag.id}').up('div.tag'); e.remove()" do |f|
              = f.hidden_field :category_id, :value => category.id
              = submit_tag category.name
        - remote_form_for  [:admin, tag], :success => "e = $('edit_tag_candidate_#{tag.id}').up('div.tag'); e.remove()"  do |f|
          = f.hidden_field :status, :value => "no"
          = submit_tag "it's not a tag!"
  = link_to "Next", admin_tag_candidates_path

- else
  All done.
