%blockquote
  = freecycle_link(:image)
  %p
    %span> "
    = freecycle_link
    =t 'global.freecycle_mission'
    %span> "

- require 'google_chart'
.chart
  %h2= (t 'stats.global last x months', :months => @per_month_per_kind[:labels].size)
  = render :partial => 'by_kind_each_month', :locals => { :data => @per_month_per_kind, :range => chart_range(@per_month_per_kind[:data].values), :wh => [700, 300] }

%h2=t 'global.last_offers'
%ol
  = render :partial => "post", :collection => @offers

%h2=t 'global.last_requests'
%ol
  = render :partial => "post", :collection => @requests
