%h2 Without kind
%ol#without_kind
  - @unknown_kind.each do |p|
    %li
      = link_to p.subject, admin_post_path(p)
      %br
      acum
      = time_ago_in_words(p.sent_date)
      
      .kinds
        - Post::KINDS.each do |kind|
          - form_for p, :url => admin_post_path(p) do |f|
            = f.hidden_field :kind, :value => kind
            = submit_tag kind

%h2 Unmatched posts
%ol
  - not_highlighted_yet = true
  - @unmatched.each do |p|
    - _class = ""
    - if p.sent_date < 1.month.ago.to_date && not_highlighted_yet
      - _class = "first_old"; not_highlighted_yet = false
    %li{ :class => _class }
      %strong
        = p.kind
      = link_to p.subject, admin_post_path(p)
      %br
      acum
      = time_ago_in_words(p.sent_date)
