%h2 Without kind
%ol
  - @unknown_kind.each do |p|
    %li
      = link_to p.subject, admin_post_path(p)
      %br
      acum
      = time_ago_in_words(p.sent_date)
      
      - form_for p, :url => admin_post_path(p) do |f|
        = hidden_field_tag('post[kind]', 'offer')
        = submit_tag 'offer'
      - form_for p, :url => admin_post_path(p) do |f|
        = hidden_field_tag('kind', 'request')
        = submit_tag 'request'
    

%h2 Unmatched posts
%ol
- @unmatched.each do |p|
  %li
    %strong
      = p.kind
    = link_to p.subject, admin_post_path(p)
    %br
    acum
    = time_ago_in_words(p.sent_date)
