&raquo; 
= link_to 'back to index', admin_posts_path
%h2 Anunt
= @post.kind
=h @post.subject

- if !@candidates.empty?
  %h2 Candidates from the same author
  = render :partial => 'candidate', :locals => { :post => @post, :all_posts => @candidates}

%h2 Search
- form_tag search_admin_posts_path do
  = hidden_field_tag 'id', @post.id
  = text_field_tag 'term', @term
  = submit_tag 'search'

- if @search_results
  %h2 Search results
  = render :partial => 'candidate', :locals => { :post => @post, :all_posts => @search_results}
