&raquo; 
= link_to 'back to index', admin_posts_path
%h2 Anunt
= @post.kind
=h @post.subject
- if @post.pair_id
  Already matched
- else
  %h3 Candidates from the same author
  - if @candidates[:same_author].empty?
    None. sorry
  - else
    = render :partial => 'candidate', :locals => { :post => @post, :all_posts => @candidates[:same_author]}

  %h3 With similar text
  - if @candidates[:same_text].empty?
    None. sorry
  - else
    = render :partial => 'candidate', :locals => { :post => @post, :all_posts => @candidates[:same_text]}


  %h3 Search
  - form_tag search_admin_posts_path do
    = hidden_field_tag 'id', @post.id
    = text_field_tag 'term', @term
    = submit_tag 'search'

  - if @search_results
    %h4 Search results
    = render :partial => 'candidate', :locals => { :post => @post, :all_posts => @search_results}
