#offers
  %h3 Ce se da
  - form_tag search_posts_path do
    = text_field_tag 'query', params[:query]
    = hidden_field_tag 'kind', "offer"
    = submit_tag 'Cauta'
  = link_to 'n-am.. si vreau!', group_url, :target => "_blank", :class => "action", :style => "display:none"
  %table
    %thead
      %tr
        %td
          obiect oferit
          .continue (continuare)
    %tbody
      = render offers
