- content_for :head do
  = stylesheet_link_tag "posts/index"
  = javascript_include_tag "posts/index"
    
%h2
  = @group.name

#dashboard
  #offers
    %h3 Ce se da
    %p.action.none
      %a{ :href => @group.web, :target => "_blank" } n-am.. si vreau!
    %table
      %thead
        %tr
          %td
            obiect oferit
            .continue (continuare)
      %tbody
        = render :partial => @offers
  #requests
    %h3 Ce se cere
    %p.action.none
      %a{ :href => @group.web, :target => "_blank" } am.. si dau! 
    %table
      %thead
        %tr
          %td
            obiect cautat
            .continue (continuare)
      %tbody
        = render :partial => @requests
