- content_for :head do
  = stylesheet_link_tag "posts"
  = javascript_include_tag "posts/index"
    
%h2 Rezultatele cautarii
#dashboard
  #offers
    %h3 Ce se da
    - form_tag search_posts_path do
      = text_field_tag 'query', params[:query]
      = hidden_field_tag 'kind', "offer"
      = submit_tag 'Cauta'
    - if params[:kind] == 'offer'
      = link_to 'n-am.. si vreau!', group_url, :target => "_blank", :class => "action", :style => "display:none"
      %table
        %thead
          %tr
            %td
              obiect oferit
              .continue (continuare)
        %tbody
          = render @results
  #requests
    %h3 Ce se cere
    - form_tag search_posts_path do
      = text_field_tag 'query', params[:query]
      = hidden_field_tag 'kind', "request"
      = submit_tag 'Cauta'
    - if params[:kind] == 'request'
      = link_to 'am.. si dau!', group_url, :target => "_blank", :class => "action", :style => "display:none"
      %table
        %thead
          %tr
            %td
              obiect oferit
              .continue (continuare)
        %tbody
          = render @results
