!!!
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }
    %title= html_title

    = stylesheet_link_tag "application", "admin" #, :cache => "cache/all"
    = yield :head

  %body
    #container
      #header
        %h1
          = link_to "Admin: Freecycle stats", '/'
        %ul#menu
          %li
            = link_to 'Posts to fix', admin_posts_path
          %li
            = link_to 'Make some tags', admin_tag_candidates_path
      #main
        = yield

      #footer
