!!!
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }
    %title= html_title

    -#%link{ 'rel' => 'shortcut icon', :href => '/favicon.ico' }
    -#-# the png is shown by firefox in bookmarks menu, the ico in the other places
    -#%link{ 'rel' => 'icon', :sizes => '16x16', :href => '/favicon-16.png' }

    = stylesheet_link_tag "application" #, :cache => "cache/all"
    = javascript_include_tag "vendor/prototype" #, :cache => "cache/all"
    = yield :head

  %body
    #container
      %h1 
        %a{ :href => '/' } Ce se da si ce se cere

      = yield

    #footer
      .credential
        concept: 
        %a{ :href => 'http://steleverzi.wordpress.com' } stele verzi
      .credential
        implementare:
        %a{ :href => 'http://dira.ro' } dira.ro
