!!!
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }
    %title= (t 'global.title')

    = stylesheet_link_tag "application"
    = javascript_include_tag :defaults
    = csrf_meta_tag

    = yield :head

  %body
    #container
      %h1 
        - title = (t 'global.title')
        = link_to title, '/'

      #main
        = yield

      #footer
        .credential
          = "#{t 'global.concept'}:"
          = link_to 'stele verzi', 'http://steleverzi.wordpress.com', :target => "_blank"
        .credential
          = "#{t 'global.implementation'}:"
          = link_to 'dira.ro', 'http://dira.ro', :target => "_blank"
